name: Build modpack and test

on:
  push:
    branches: [ "main" ]
    paths:
      - "groovy/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
      
      - name: Download Pakku
        run: |
          curl -L -o pakku.jar "https://github.com/juraj-hrivnak/Pakku/releases/download/v1.3.3/pakku.jar"
          java -jar pakku.jar --version

      - name: Configure CF credentials
        run: |
          java -jar pakku.jar credentials set --cf-api-key '${{ secrets.CF_API_KEY }}'

      - name: Pakku fetch
        run: |
          java -jar pakku.jar fetch
          
      - name: Get ready client for mc headless
        run: |
          mkdir -p run/mods
          mkdir -p run/config
          mkdir -p run/local
          mkdir -p run/groovy
          cp -a mods/. run/mods/
          cp -a config/. run/config/
          cp -a local/. run/local/
          cp -a groovy/. run/groovy/

      - name: Run MC test client
        uses: headlesshq/mc-runtime-test@4.1.0 
        with:
          mc: 1.12.2
          modloader: forge
          regex: .*forge.*
          mc-runtime-test: lexforge
          java: 8

      - name: Check if it were any GrS errors
        shell: bash
        run: |
          set -euo pipefail

          LOG="run/logs/groovy.log"

          PATTERN='/ERROR]'
          if grep -Fq "$PATTERN" "$LOG"; then
            echo "ERROR: Found groovyscript error in log!"
            echo "---- matching lines ----"
            grep -Fn "$PATTERN" "$LOG" | head -n 50
            exit 1
          else
            echo "OK: Pattern not found"
          fi
        
      - name: Upload GrS logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: groovy-log
          path: |
            run/logs/groovy.log