name: Release modpack

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Read pack version
        run: |
          PACK_NAME=$(jq -r '.name' pakku.json)
          PACK_VERSION=$(jq -r '.version' pakku.json)

          echo "PACK_NAME=$PACK_NAME" >> $GITHUB_ENV
          echo "PACK_VERSION=$PACK_VERSION" >> $GITHUB_ENV
          echo "PACK_FILENAME=${PACK_NAME}-${PACK_VERSION}" >> $GITHUB_ENV

          echo "Pack: $PACK_NAME $PACK_VERSION"

      - name: Download Pakku
        run: |
          curl -L -o pakku.jar "https://github.com/juraj-hrivnak/Pakku/releases/download/v1.3.3/pakku.jar"
          java -jar pakku.jar --version

      - name: Configure CurseForge key
        run: |
          java -jar pakku.jar credentials set --cf-api-key '${{ secrets.CF_API_KEY }}'

      - name: Export CF + MR
        run: |
          java -jar pakku.jar fetch
          java -jar pakku.jar export

          CF=$(ls build/curseforge/*.zip | head -n 1)
          MR=$(ls build/modrinth/*.mrpack | head -n 1)

          mv "$CF" "build/curseforge/${PACK_FILENAME}-CF.zip"
          mv "$MR" "build/modrinth/${PACK_FILENAME}-MR.mrpack"

      - name: Make Prism zip
        run: |
          mkdir -p build/prism/mmc-pack/minecraft

          cp -a clr-template/. build/prism/mmc-pack/
          rsync -a --relative mods/ config/ local/ groovy/ build/prism/mmc-pack/minecraft/

          cp -a options.txt build/prism/mmc-pack/minecraft/
          cp -a README.md LICENSE build/prism/mmc-pack/

          cd build/prism/mmc-pack
          zip -r "../${PACK_FILENAME}-Prism.zip" .

      - name: Generate release notes
        run: |
          echo "## How to choose proper distribution" > release.md
          echo "" > release.md
          echo "Modrinth -> *-MR.mrpack" > release.md
          echo "Curseforge -> *-CF.mrpack" > release.md
          echo "Prismlauncher, want to self-install -> *-Prism.mrpack" > release.md
          echo "" > release.md
          echo "## Changes" > release.md
          git log --pretty=format:"- %s" $(git describe --tags --abbrev=0)..HEAD >> release.md

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1.20.0
        with:
          tag: ${{ env.PACK_VERSION }}
          name: ${{ env.PACK_VERSION }}
          bodyFile: release.md
          artifacts: "build/curseforge/*.zip,build/modrinth/*.mrpack,build/prism/*.zip"
          allowUpdates: true
